  <footer class="foot">
    <div style="display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap">
      <div>
        <strong>Address</strong><br>
        KAHAWA SUKARI STREET, TAVETA ROAD, 1st NORTH AVENUE, NAIROBI, KENYA
      </div>
      <div style="text-align:right">
        <div>Phone: +254 724 147 654</div>
        <div>Email: kijijicorporatecuisine@gmail.com</div>
        <!-- <div style="margin-top:8px;">© Kijiji Cuisine - 2025</div> -->
      </div>
    </div>
            <div style="margin-top:8px;text-align: center;color: #ce1212;">© Kijiji Cuisine - 2025</div>
  </footer>