<!-- <header>
  <div class="container nav">
    <div class="brand">
      <img
        src="/Mascot.png"
        alt="Kijiji Cuisine Logo"
        class="logo-image me-2 img-fluid animated"
        style="max-height: 40px; width: 40px"
      />
      <div>
        <h1>Kijiji Cuisine - Blog</h1>
        <div style="font-size: 9px; color: var(--muted)">
          Authentic Kenya Food · Catering & Events
        </div>
      </div>
    </div>

    <!-- Hamburger Button -->
    <!-- <button class="hamburger" id="hamburger" aria-label="Menu">
      ☰
    </button>

    <nav id="nav-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">New Blog</a></li>
      </ul>
    </nav>
  </div>
</header> --> 

<header>
  <div class="container nav">
    <div class="brand">
      <img
        src="/Kijiji_Cuisine_Logo.png"
        alt="Kijiji Cuisine Logo"
        class="logo-image me-2 img-fluid animated"
        style="max-height: 40px; width: 40px"
      />
      <div>
        <h1>Kijiji Cuisine</h1>
        <div style="font-size: 9px; color: var(--muted)">
          Authentic Kenyan Food · Catering & Events
        </div>
      </div>
    </div>

    <!-- Hamburger Button -->
    <button class="hamburger" id="hamburger" aria-label="Menu">☰</button>

    <nav id="nav-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blogs">Kijiji-Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
  </div>
</header>
