<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="strip">
      <div class="container-strip">
        <div class="container">
          <h2 style="color: white">Admin Dashboard</h2>
          <a href="/admin/blogs/create" class="btn" style="margin-bottom: 20px"
            >+ New Blog</a
          >
          <a href="/signup" class="btn" style="margin-bottom: 20px"
            >+ New User</a
          >
          <a href="/gallery" class="btn" style="margin-bottom: 20px"
            >+ Upload Photos</a
          >
        </div>
      </div>
    </div>
    <main class="form-container" style="margin-top: 20px">
      <div class="create-blog content">
        <form action="/blogs" method="POST" enctype="multipart/form-data">
          <label for="title">Blog title:</label>
          <input type="text" id="title" name="title" required />
          <label for="snippet">Blog snippet:</label>
          <input type="text" id="snippet" name="snippet" required />
          <label for="body">Blog body:</label>
          <textarea
            id="body"
            name="body"
            style="height: 150px"
            required
          ></textarea>
          <input type="file" name="image" /><br /><br />
          <button class="btn" style="background-color: crimson">Submit</button>
        </form>
        <div
          style="
            margin: 20px;
            color: var(--muted);
            text-align: center;
            font-size: 12px;
          "
        >
          © Kijiji Cuisine - 2025 <br />
          www.kijijicorporatecuisine.co.ke
        </div>
      </div>
    </main>

    <%- include("./partials/footer.ejs") %>

    <script>
      // menu toggle

      const hamburger = document.getElementById("hamburger");
      const navMenu = document.getElementById("nav-menu");

      hamburger.addEventListener("click", () => {
        navMenu.classList.toggle("show");
      });
    </script>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
